<template id="municipality-content">
  <h3>Alle kommuner i vores system</h3>
  <div style="height: 500px;overflow-y: scroll;">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Navn</th>
          <th>Postnummer</th>
          <th>Sogne</th>
        </tr>
      </thead>
      <tbody id="municipality-body">
      </tbody>
    </table>
  </div>
</template>
<template id="municipality-rows">
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</template>